{% extends "default.template" %}

{% block title %}
    <title>{{ website_name }} / {{ title }} </title>
{% endblock %}

  
 {% block content %} 
	<h2>{{ title }}</h2><div class="textwidget">

    </div>
    
    {{ content }}
       

	{% for post in postlist %}
	{%- if post['lang']==lang -%}
	<h3>{{ post['title'] }}</h3>
		<pre><code>{{ post['date'] }}</code></pre>
	{{ post['content'] }}
	{% endif %}   
	{% endfor %}


{% endblock %}
   
